
@import "tailwindcss";



body{
    background-color: hsl(0, 0%, 10%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.change {
  @apply 
    px-4 py-2 rounded cursor-pointer transition-colors duration-300
    transform transition-transform
    hover:text-purple-300
    hover:bg-purple-600
    hover:scale-105
    active:text-purple-200
    focus:outline-none
    focus:ring-2
    focus:ring-purple-400
    focus:ring-offset-2;
}
html {
  scroll-behavior: smooth;
}



.aspnet {
  background-color: #512bd4;
  color: white;
}
.aspnet-btn {
  background-color: #ffffff;
  color: #512bd4;
}
.aspnet-btn:hover {
  background-color: #e0e0e0;
}


.react {
  background-color: #61dafb;
  color: black;
}
.react-btn {
  background-color: #20232a;
  color: #61dafb;
}
.react-btn:hover {
  background-color: #333333;
}


.php {
  background-color: #8892bf;
  color: white;
}
.php-btn {
  background-color: #ffffff;
  color: #8892bf;
}
.php-btn:hover {
  background-color: #d1d1d1;
}



.javascript {
  background-color: #f7df1e; 
  color: black;
}

.javascript-btn {
  background-color: black;
  color: #f7df1e;
}

.javascript-btn:hover {
  background-color: #333333; 
}



